@import "@shared/styles";

.header-logo {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    align-items: center;
  
    &__icon {
      max-width: 100px;
    }
  
    &__label {
      font-weight: 500;
      white-space: nowrap;
    }
  }
  
  
  @media(min-width:#{$br-desktop}px){
   
    .header-logo {
      display: grid;
      grid-template-columns: auto auto;
      gap: 0;
      align-items: center;
      margin-top: 0;
      margin-left: 5rem;
      padding: 0;
  
      
    &__icon {
      width: 150px;
      height: 50px;
    }
    }
  }