@import "src/shared/styles";
 // blocks
.why-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 16px 50px 16px;
    gap: 47px;
}


.why-us__title-text-block{
text-align: center;
display: grid;
gap: 17px;
}

.why-us__text-box{
    display: grid;
    gap:30px;
}

.why-us__text-block{
    gap:4px;
    max-width: 16rem;
    display: grid;
}

 // Text
.why-us__title-text{
    @include font-style(600, 1.25rem, 1.875rem, $dark-blue );
}

.why-us__yellow-text{
    @include font-style(600, .875rem, .875rem, $brave-yellow )
}

.why-us__label-text{
    @include font-style(600, 1rem, 1.375rem, $dark-blue );

    letter-spacing: -1px;
}


.why-us__description-text{
    @include font-style(500, .875rem, 1.5rem, $description-dark );
    letter-spacing: -.9px;
}

@media(min-width:#{$br-tablet}px) {
    .why-us{
        padding: 3.3rem 1rem 1.825rem;
        gap: 41px;
    }

    .why-us__text-box{
        display: grid;               /* Используем сетку */
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
        align-items: center;

        row-gap: 25px;

    }

    .why-us__title-text-block{
        width: 29.125rem;
        margin-bottom: 0.7rem;
        display: grid;
        gap:17px;
    }

    .why-us__label-text{
        @include font-style(600, 1.125rem,1.875rem, $dark-blue )
    }

    .why-us__title-text{
        @include font-style(600, 1.5rem, 2.375rem, $dark-blue );

        letter-spacing: -.5px;
        
    }

    .why-us__text-block{

        margin-top: 0;
    
    }
  }  

  @media(min-width:#{$br-desktop}px){
    .why-us{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        justify-content: start;
        max-width: 1900px;
        margin: auto;
        padding: 130px 100px 96px;
        gap:75px;


    }

    .why-us__title-text{
        @include font-style(600, 1.75rem, 2.8125rem, $dark-blue )
        
    }

    .why-us__title-text-block{
        width: 23.0625rem;
        height: 10.375rem;
        margin: 0;

        text-align: left;
    }

        .why-us__text-block{
            width: 16.0625rem;
        
        }

        .why-us__text-box{
            gap: 110px;
            row-gap: 53px;
        }

  }
