@import "src/shared/styles";

.menu__item {
    width: 100%;
    border-radius: 0;
    display: flex;  /* Используйте flex для дочерних элементов */
    align-items: center;  /* Вертикально центрируем */
    justify-content: space-between;  /* Центрируем изображения */
    background-color: white;
    flex-direction: column;
    border-bottom:1px solid #F0F0F0;
        border-top:1px solid #F0F0F0;
}

.menu__item-img-container {
    object-fit: cover;
            width: 100%;
            height: 100%;
            left: 0;
}

.menu__item-description-container {
    width: 100%;  /* Занимает всю ширину родителя */
    padding: 24px 24px 0 24px;
    object-fit: cover;
    justify-content: space-between;
    border-radius: .5rem; 
    text-align: left;
}

.menu__item-img{
    border-radius: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    .menu__poup-item-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
.menu__spicy-img{

}
.menu__item-name{
     @include font-style(400, 1.75rem, 1.875rem, black );
     display: flex;
     gap:1rem;

}

.menu__item-name-popup{
     @include font-style(400, 1.75rem, 1.875rem, black );
     display: flex;
     gap:1rem;color: black;
    position: absolute;
    background: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    /* margin: 0 1rem 0 0; */
    height: 80px;
    align-items: anchor-center;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.875rem;
    display: flex;

}

.menu__item-description{
    @include font-style(400, 1rem, 1.875rem, black );
}


@media(min-width:#{$br-tablet}px) {
    .categoryes__img-text{
        @include font-style(600, 1.125rem, 1.875rem, $title-light );
    }

    .menu__item-img-container {

    }
    .menu__item-name-popup{
     @include font-style(400, 1.75rem, 1.875rem, black );
     display: flex;
     position: relative;
     gap:1rem;
}
.menu__item-name{
     @include font-style(400, 1.75rem, 1.875rem, black );
     display: flex;
     gap:1rem;

}

    .menu__item-img{
    border-radius: 20px;
    width: 100%;
    height: 272px;
    object-fit: cover;
}

    .menu__item {
    width: calc(50% - 20px);
    }

    .menu__item {
        width: calc(50% - 26.6px);
        border-radius: 10px;
        display: flex;  /* Используйте flex для дочерних элементов */
        align-items: center;  /* Вертикально центрируем */
        justify-content: space-between;  /* Центрируем изображения */
        background-color: white;
        flex-direction: column;
    }
}

@media(min-width:#{$br-desktop}px) {
    .menu__item-img{
        border-radius: 10px;
        width: 100%;

        object-fit: cover;
    }
    .menu__poup-item-img{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
.menu__item-name{
     @include font-style(400, 1.75rem, 1.875rem, black );
     display: flex;
     gap:.5rem;
     margin: 0 0 1rem 0;

}
    .menu__item-name-popup{
     @include font-style(400, 1.75rem, 1.875rem, black );
     display: flex;
     gap:1rem;
}

    .categoryes__img {
        width: 98%;
        height: 95%;
        
        border-radius: .5rem; 
    }

    .menu__item {
        width: calc(33% - 26.6px);
        border-radius: 10px;
        display: flex;  /* Используйте flex для дочерних элементов */
        align-items: center;  /* Вертикально центрируем */
        justify-content: space-between;  /* Центрируем изображения */
        background-color: white;
        flex-direction: column;
    }

    .categoryes__img-text{
        @include font-style(600, 1rem, 1.875rem, $title-light );
        white-space: nowrap;
    }
}