@import "src/shared/styles";

.production{
    align-items: center;
    padding: 1.875rem 1rem 2.5rem;

    text-align: center;

    background-color: $production-bk;
}

.production__image-container{
    display: flex;
    flex-flow: row wrap;
    gap:30px;
    justify-content: center;
    margin-top: 1.875rem;

}

.production__title-text{
    @include font-style(600, 1rem, 1.875rem, $dark-blue)
    
}

.production__img-scale-sqare{
    width: 40px;
}

.production__img-scale-sith{
    width: 80px;
}

.production__img-scale-mrbeast{
    width: 67px;
}

@media(min-width:#{$br-tablet}px) {
    .production__title-text{
        @include font-style(600, 1.25rem, 1.875rem, $dark-blue);

        letter-spacing: -.4px;
    }

    .production__image-container{
        gap:39px;
        margin-top: 2.3rem;
    }

    .production__img-scale-sith{
        width: 85px;
    }

    .production{
        padding: 2.5rem 3.25rem;

    }


    
  }  

  @media(min-width:#{$br-desktop}px){
    .production__image-container{
        gap:5.5rem;

    
    }

    .production{
        padding: 3rem 6.25rem 2.5rem;
    }

    .production__img-scale-sqare{
        width: auto;
    }

    .production__img-scale-sith{
        width: auto;
    }

    .production__img-scale-mrbeast{
        width: auto;
    }
  }
