@import "@shared/styles";
.header{
    background-color:  #030b27;

    @include font-styles('Poppins',600, none,none, var(--pure-white));
    padding: 1rem;
}

.simple-btn {
    position: relative;
  
    display: block;
    width: 78px;
    height: 44px;
    margin-right: 4rem;
    
    padding: 0;
  
    --bg:  #0432DF ;
    background: #0432DF;
    line-height: 120%;
    text-align: center;

    border-radius: 8px;
  
    @include font-styles('Poppins',700, 16px, 24px, white);
  
    transition: background-color .15s ease;
  
    @include hover {
      border-color:var(--blue);
  
      @include font-styles('Poppins',700, 16px, 24px, var(--blue));
  
    }
  
    @include mobile-active {
      --bg: var(--blue);
    }
  }
 


@media(min-width:768px) {
    .header__image{
        display: flex;
    }

    } 
      
@media(min-width:1244px){

    .header__title-text-block{
        max-width: 850px;
    }
    

    .image-container {
        width: 950px; /* Ширина контейнера */
        height: 600px; /* Высота контейнера */
        
        margin-top: 3rem;
       
    }

    .header__title-text-gray{
        margin-bottom: 0;
    }
    
}
